<div class="jumbotron col-md-10">
  <div class="container-fluid">
    <h1>Welcome to the DTHS online canteen</h1>
    <p>Developed by DTHS Coding Queens</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Find out more about us</a></p>
  </div>
</div>